@import "~bootstrap/scss/bootstrap";
@import "scrollbar";

* {
  padding: 0;
  margin: 0;
  border: 0;
}

body {
  overflow-y: hidden;
}

button {
  cursor: pointer;
}

#app {
  height: 100vh;
  flex-grow: 1;
  display: flex;
  // flex-direction: column;
}

#chat_list {
  min-width: 250px;
  border-right: 1px solid silver;
  display: flex;
  flex-direction: column;
  #chat_list_button {
    background-color: #007bff;
    color: white;
    padding: 15px;
    font-size: 1.2rem;
    cursor: pointer;
    text-align: center;
    vertical-align: middle;
  }
  ul {
    list-style: none;
    flex-grow: 2;
    overflow-y: auto;
    margin-bottom: 0;
    li {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid #007bff;
        padding: 10px;
        cursor: pointer;
        &:hover, &.active {
            border-right: 5px solid #007bff;
        }
    }
  }
  #chat_logout {
    display: block;
    background-color: #007bff;
    color: white;
    padding: 10px;
    font-size: 1.2rem;
    text-align: center;
    &:hover {
      text-decoration: none;
    }
  }
}

#chat_frame {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  #chat_infobar {
    display: flex;
    min-height: 56px;
    justify-content: space-between;
    border-bottom: 1px solid #007bff;
    span {
      line-height: 56px;
      margin-left: 20px; 
    }
    button {
      padding: 16px;
      color: white;
      background-color: #007bff;
    }
  }

  #chat_body {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    padding: 5px;
    .message {
      max-width: 75%;
      padding: 10px;
      border: 1px solid;
      border-radius: 5px;
      margin-bottom: 10px;
    }
    .message-received {
      border-color: silver;
    }

    .message-sent {
        align-self: flex-end;
        border-color: #007bff;
    }
    .message-sender {
      font-size: 1.2em;
      margin-left: 4px; 
    }
  }

  #chat_form {
    border-top: 1px solid #007bff;
    min-height: 47px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    #chat_input {
      flex-grow: 1;
      padding: 0 10px;
    }
    #chat_send_button {
      background-color: #007bff;
      color: white;
      height: 47px;
      padding: 0 20px;
    }    
  }
}

#form {
  #form-link {
    display: block;
    max-width: 400px;
    height: 50px;
    margin: 0 auto;
    border: 4px solid #007bff;
    border-bottom: none;
    text-align: center;
    line-height: 50px;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    &:hover {
      border-color: #006fe6;
    }
  }
  margin-top: 100px;
  #form-title { 
    height: 200px;
    background-color: #007bff;
    text-align: center;
    line-height: 200px;
    color: white;
    font-size: 72px;
    display: block;
    width: 100%;
    cursor: pointer;
    &:hover {
      background-color: #006fe6;
    }
  }
  width: 100%;
  #form-inputs {
    max-width: 500px;
    margin: 0 auto;
    padding-top: 20px;
    input {
     margin-bottom: 20px;
    }
  }
}

#fb-button {
  display: block;
  background-color: #007bff;
  color: white;
  text-align: center;
  padding: 10px;
  font-size: 1.2em;
  &:hover {
    background-color: #006fe6;
    text-decoration: none;
  }
}

#welcome_text {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  span {
    font-size: 3rem;
    color: rgba(168, 164, 164, 0.5);
  }
}