<div id="form">
  <a href="#" id="create-account-link">Create account</a>
  
  <form action="#" method="post">
    <input type="submit" id="form-title" value="Login">
    </input>
    <div id="form-inputs">
      <input class="form-control" type="text" name="email" id="email" placeholder="Email">
      <input class="form-control" type="password" name="password" id="password" 
        placeholder="Password">
    </div>
  </form>
</div>